.App {
  text-align: center;
}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color:  var(--bg-color);
  /* min-height: 100vh; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);

  position: fixed; /* Fix the header at the top of the page */
  top: 0; /* Align the top edge of the header with the top of the viewport */
  left: 0; /* Align the left edge of the header with the left of the viewport */
  width: 100%; /* Make the header extend across the full width of the viewport */
  height: calc(50px + 2vmin); /* Set a fixed height for the header */
  z-index: 1000; /* Ensure the header is above other content */
}

.App-button {
  border: 2px solid var(--border-color);
  border-radius: 10px;
  background-color: var(--bg-color);
  padding: calc(1px + 0.5vmin);
  font-size: calc(7px + 2vmin);
  margin: 2px;
  text-decoration: none;
}

.App-button:hover, .App-mini-button:hover {
  background-color: var(--active-bg-color);
}

.App-link {
  color: #61dafb;
  cursor: pointer;
}

.main {
  margin-top: calc(50px + 2vmin);
  background-color: var(--light-bg-color);
  width: 100%;
  height: calc(100vh - 50px - 2vmin);
  padding: calc(2px + 0.5vmin);
}

dialog {
  background-color: var(--bg-color);
  position: absolute;
  top: 50%;
  left: 45%;
  border: 0;
  border-radius: 10px;
  padding: 5px;
  * {
    margin: 5px;
  }
  .App-button {
    font-size: calc(5px + 1vmin);
    border: 1px solid var(--border-color);
  }
}

.App-mini-button {
  border-radius: 10px;
  background-color: var(--bg-color);
  padding: calc(1px + 0.5vmin);
  margin: 2px;
  text-decoration: none;

  font-size: calc(5px + 1vmin);
  border: 1px solid var(--border-color);
}

.App-input {
  padding: 2px;
  font-size: calc(5px + 1vmin);
  color: black;
}
p, li{
  font-size: calc(5px + 1vmin);
}
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.crud-view {
  display: flex;
  flex-direction: column;
}

.user-card {
  display: flex;
  flex-direction: row;
  width: 45%;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  background-color: var(--bg-color);
  margin: 1vmin;
  padding: 1px;
  img {
    border-radius: 10px;
  }
  .column-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .row-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
